<form name='modalForm'>
	<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Enter the input variables</h3>
	</div>
	<div class="modal-body" id="modal-body">
			<div>
				<label for="g" class='font-size-18'>The grade of block</label>
				<input name='g' id="g" type='text' ng-model='modalCtrl.inputObj.g' required/>
			</div>
	</div>
	<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
	</div>
</form>
