<form name='modalForm'>
	<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Enter the input variables</h3>
	</div>
	<div class="modal-body" id="modal-body">
			<div>
				<label for="x1" class='font-size-18'>x1</label>
				<input name='x1' id="x1" type='text' 
						ng-model='modalCtrl.inputObj.x1' required/>
			</div>
			<div>
				<label for="x2" class='font-size-18'>x2</label>
				<input name='x2' id="x2" type='text'
						ng-model='modalCtrl.inputObj.x2' required/>
			</div>
	</div>
	<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
	</div>
</form>
